* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: #e5eff5;
  height: 100%; }

main {
  margin: 5em 1.5em;
  box-shadow: 2px 7px 25px -5px #c1d7e6; }
  @media (min-width: 700px) {
    main {
      margin: 12em auto;
      width: 650px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.7fr 1fr; } }

.join {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.8em; }
  @media (min-width: 700px) {
    .join {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1; } }
  .join h1 {
    font-size: 20px;
    color: #2ab2af;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 1em; }
  .join h2 {
    color: #c0df34;
    font-weight: 700;
    margin-bottom: 1em; }
  .join p {
    color: #98a6bd;
    line-height: 1.8;
    font-size: 14px; }
    @media (min-width: 700px) {
      .join p {
        font-size: 15px;
        margin-right: 3em; } }

.subscription {
  padding: 1.8em;
  background-color: #2ab2af;
  color: #fff; }
  @media (min-width: 700px) {
    .subscription {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      border-bottom-left-radius: 5px; } }
  .subscription h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em; }
  .subscription h3 {
    font-size: 34px;
    font-weight: 700;
    color: #e5eff5;
    margin-bottom: 0.5em; }
    .subscription h3 span {
      color: rgba(229, 239, 245, 0.8);
      font-size: 18px;
      font-weight: 400; }
  .subscription p {
    margin-bottom: 2em; }
  .subscription button {
    background-color: #c0df34;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    box-shadow: 2px 7px 25px 0px #22918f; }
    .subscription button:hover {
      cursor: pointer;
      background-color: #cee660; }

.whyUs {
  background-color: #4ABEBD;
  color: #fff;
  padding: 1.8em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  @media (min-width: 700px) {
    .whyUs {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      border-bottom-left-radius: 0; } }
  .whyUs h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em; }
  .whyUs li {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.1em 0; }

footer {
  width: 100%; }
  footer p {
    text-align: center;
    padding: 1em;
    color: #98a6bd; }
  footer a {
    color: #2ab2af;
    text-decoration: none; }
