// Variables
// // Widths
$mobile: 375px;
$desktop: 1440px;

// // Colours
// // // Primary
$cyan: hsl(179, 62%, 43%);
$lighterCyan: #4ABEBD;
$brightYellow: hsl(71, 73%, 54%);
// // // Neutral
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

// Reset
* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

a:active,
a:hover {
    outline: 0;
}

// Styles
body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  background-color: $lightGray;
  height: 100%;
}

main {
  margin: 5em 1.5em;
  box-shadow: 2px 7px 25px -5px darken($lightGray, 10%);

  @media (min-width: 700px) {
    vertical-align: middle;
    margin: 14em auto;
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 1fr;
  }
}

.join {
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1.8em;

  @media (min-width: 700px) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  h1 {
    font-size: 20px;
    color: $cyan;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  h2 {
    color: $brightYellow;
    font-weight: 700;
    margin-bottom: 1em;
  }

  p {
    color:$grayishBlue;
    line-height: 1.8;
    font-size: 14px;

    @media (min-width: 700px) {
      font-size: 15px;
      margin-right: 3em;
  }
  }
}

.subscription {
  padding: 1.8em;
  background-color: $cyan;
  color: $lightGray;

  @media (min-width: 700px) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-bottom-left-radius: 5px;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 34px;
    font-weight: 700;
    color: $lightGray;
    margin-bottom: 0.5em;

    span {
      color: rgba($lightGray, 0.8);
      font-size: 18px;
      font-weight: 400;
    }
  }

  p {
    margin-bottom: 2em;
  }

  button {
    background-color: $brightYellow;
    padding: 0.8em;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    box-shadow: 2px 7px 25px 0px darken($cyan, 8%);
  }
}

  .whyUs {
    background-color: $lighterCyan;
    color: $lightGray;
    padding: 1.8em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media (min-width: 700px) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      border-bottom-left-radius: 0;
    }
    
    h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 1em;
    }

    li {
      font-size: 15px;
      color: rgba($lightGray, 0.8);
      padding: 0.1em 0;
    }

  }

footer {
  width: 100%;
  p {
    text-align: center;
    padding: 1em;
    color: $grayishBlue;
  }

  a {
    color: $cyan;
    text-decoration: none;
  }
}