// Variables
// // Widths
$mobile: 375px;
$desktop: 1440px;

// // Colours
// // // Primary
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
// // // Neutral
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

// Reset
* {
  box-sizing: border-box;
  line-height: 1;
  list-style: none;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

a:active,
a:hover {
    outline: 0;
}

// Styles
body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}